In [1]:
# Import the required libraries and dependencies

import os
from dotenv import load_dotenv
import pandas as pd
import alpaca_trade_api as tradeapi

In [2]:
# Load .env environment variables

load_dotenv(".env")

True

In [3]:
# Set Alpaca API key and secret key

alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
type(alpaca_secret_key )

str

In [4]:
# Create the Alpaca REST object

alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [5]:
tickers = ["MSFT", "KO"]

In [6]:
# Set timeframe to '1Day'

timeframe = "1Day"

In [7]:
# Set start and end datetimes between now and 3 years ago

start_date = pd.Timestamp("2017-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-01", tz="America/New_York").isoformat()

In [8]:
# Get 3 yearsâ€™ worth of historical price data for Microsoft and Coca-Cola

prices_df = alpaca.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [9]:
# Reorganize the DataFrame
# Separate ticker data

MSFT = prices_df[prices_df['symbol']=='MSFT'].drop('symbol', axis=1)
KO = prices_df[prices_df['symbol']=='KO'].drop('symbol', axis=1)

In [10]:
# Concatenate the ticker DataFrames

prices_df = pd.concat([MSFT, KO], axis=1, keys=["MSFT", "KO"])

In [11]:
# Review the first 5 rows of the DataFrame

prices_df.head()

                            MSFT                                              \
                            open   high     low  close    volume trade_count
timestamp
2017-05-01 04:00:00+00:00  68.68  69.55  68.500  69.41  31954462      159425
2017-05-02 04:00:00+00:00  69.71  69.71  69.130  69.30  23906119      127335
2017-05-03 04:00:00+00:00  69.26  69.38  68.710  69.08  28927975      146503
2017-05-04 04:00:00+00:00  69.03  69.08  68.640  68.81  21749409      109653
2017-05-05 04:00:00+00:00  68.88  69.03  68.485  69.00  19128782       94910

                                         KO                                  \
                                vwap   open    high    low  close    volume
timestamp
2017-05-01 04:00:00+00:00  69.161515  43.15  43.500  43.10  43.22  13213724
2017-05-02 04:00:00+00:00  69.418084  43.22  43.440  43.16  43.39  11825216
2017-05-03 04:00:00+00:00  68.935096  43.33  43.485  43.15  43.32  10404027
2017-05-04 04:00:00+00:00  68.820273  43.45  43.810  43.40  43.66  10193084
2017-05-05 04:00:00+00:00  68.801152  43.84  43.840  43.56  43.69   8133039


                          trade_count       vwap
timestamp
2017-05-01 04:00:00+00:00       51614  43.317026
2017-05-02 04:00:00+00:00       53704  43.327701
2017-05-03 04:00:00+00:00       49212  43.355317
2017-05-04 04:00:00+00:00       46642  43.634758
2017-05-05 04:00:00+00:00       38314  43.668253

In [12]:
# Import the MCSimulation module from the MCForecastTools library file

from MCForecastTools import MCSimulation

ModuleNotFoundError: No module named 'MCForecastTools'